@model Flashcards.Deck
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.Title, new { placeholder = "Title" })
    <p>
      @Html.TextBoxFor(x => x.Cards[0].Sides[0].Text, new { placeholder = "Add Text", @class="row-item" })
    </p>
    <input type="submit" />
}
